# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Django
*.log
local_settings.py
db.sqlite3
/staticfiles/

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
